    <!-- ======= Sources One Section ======= -->
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TANITIM</h2>
            <p>TANITIM FİLMLERİ</p>
        </div>

        @{ 
            List<string> youtubeURLs = new List<string>();
            List<string> youtubeTitles = new List<string>();

            for (int i = 0; i < Model.Videos.Count; i++)
            {
                int startIndex = Model.Videos[i].Url.IndexOf("watch?v=");
                var URL = Model.Videos[i].Url.Substring(startIndex);
                var croppedURL = URL.Substring(8);
                string youtubeURL = "https://www.youtube.com/embed/" + croppedURL;

                youtubeURLs.Add(youtubeURL);
                youtubeTitles.Add(Model.Videos[i].Title);
            }
        }

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <div class="course-content">
                        <h4 class="text-center">@youtubeTitles[0]</h4>
                    </div>

                    <iframe width="400" height="300" frameborder="0"
                            src = @youtubeURLs[0] allowfullscreen>
                    </iframe>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <div class="course-content">
                        <h4 class="text-center">@youtubeTitles[1]</h4>
                    </div>

                    <iframe width="400" height="300" frameborder="0"
                            src = @youtubeURLs[1] allowfullscreen>
                    </iframe>
                </div>
            </div> <!-- End Course Item-->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                    <div class="course-content">
                        <h4 class="text-center">@youtubeTitles[2]</h4>
                    </div>

                    <iframe width="400" height="300" frameborder="0"
                            src = @youtubeURLs[2] allowfullscreen>
                    </iframe>
                </div>
            </div> <!-- End Course Item-->

        </div>

    </div>
</section>