@model Contact

<div class="contentIn">
    <div>
        <h1>Anasayfa - İletişim Bölümü</h1>

        <div class="form-group">
            <label>Oluşturulma Tarihi</label>
            <input type="text" class="form-control" value="@Model.CreatedTime" readonly>
        </div>

        <div class="form-group">
            <label>Güncellenme Tarihi</label>
            <input type="text" class="form-control" value="@Model.UpdatedTime" readonly>
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" id="mail" value="@Model.Email" onchange="changedMail(this.value)" required>
        </div>

        <div class="form-group">
            <label>Telefon Numarası</label>
            <input type="text" pattern="\d*" maxlength="16" class="form-control" id="phone" value="@Model.Phone" onchange="changedPhone(this.value)" required>
            <label style="color:gray; font-size:14px">+XX XXX XXX XX XX</label>
        </div>

        <div class="form-group">
            <label>Faks Numarası</label>
            <input type="text" pattern="\d*" maxlength="17" class="form-control" id="fax" value="@Model.Fax" onchange="changedFax(this.value)" required>
            <label style="color:gray; font-size:14px">+XX (XXX) XXX XX XX</label>
        </div>


        <div class="row justify-content-center">
            <button type="submit" onclick="sendForm()" class="btn btn-primary align-baseline">Güncelle</button>
        </div>

        <div id="error"></div>
    </div>
</div>

<script>
    var contactId = @Model.Id;

    var defaultMail = document.getElementById("mail").value;
    var defaultFax = document.getElementById("phone").value;
    var defaultPhone = document.getElementById("fax").value;

    var mail = document.getElementById("mail").value;
    var fax = document.getElementById("phone").value;
    var phone = document.getElementById("fax").value;

    function changedMail(changedValue) {
        mail = changedValue;
    }

    function changedPhone(changedValue) {
        phone = changedValue;
    }

    function changedFax(changedValue) {
        fax = changedValue;
    }

    function sendForm() {
        document.getElementById("error").innerHTML = "";

        if (mail == defaultMail && phone == defaultPhone && fax == defaultFax) {
            alert("Herhangi bir değişiklik yapmadınız!");
            return;
        }
        else {
            if (!(mail.includes("@@"))) {
                document.getElementById("error").innerHTML = "Geçerli bir mail adresi giriniz.";
                return;
            }
        }

        $.ajax({
            url: "/Dashboard/UpdateContact",
            type: "POST",
            data: {
                Id: contactId, CreatedTime: "@ViewData["CreatedTime"]", Phone: phone, Fax: fax, Email: mail
            },
            success: function () {
                window.location = "/Dashboard/ReadCategory?page=" + "@ViewData["pageName"]";
            }
        });
    }
</script>